<% provide(:title, 'Contact') %>

<div class="row">
	<div class="span12">
    	<h1>Contact Mi Codex</h1>
        <h2>If you have any questions or need help please contact us.</h2>
    </div>
</div>
<div class="row">
	<div class="span4">

		<address><strong>Mi Codex</strong><br />
				 <em>Created By:</em> Scott Combes<br />
				 <abbr title="Email">E:</abbr> <a href="mailto:scott.combes@gmail.com">Scott.Combes@gmail.com</a><br />

		</address>
	</div>

	<div class="span4">
		<p>If you want to checkout how this service was made, check me out on GitHub:<p>
			<p class="text-center"><a href="https://github.com/Scombes/mi_codex"><%= image_tag('Octocat.png', :size => "100x100", :alt => "GitHub Octocat") %></a></p>
	</div>

	<div class="span4">
		<p>If you want to see more of my work, please check out my portfolio: <a href="http://wwww.scotterdesignstudio.com">Scootter Design Studio</a>.</p>
	</div>

</div>