<div class="center hero-unit">
	<h1>Mi Codex</h1>
	<h2>A simple cataloging system</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<p>A simple service that allows you to create and maintain your personal library.</p>
</div>
  

