<%= form_tag ('/add') do  %>
		<h1>Add A Book</h1>
      <%= label_tag 'data', 'Quick Search:' %>
      

      <%= text_field_tag 'info', nil,  placeholder: 'ISBN, Title, Author...' %>
      
     
      <%= submit_tag "Find Book", class: "btn btn-primary" %>
    

<% end %>
